html {
  box-sizing: border-box;
  font-size: 10px;
  background: url(background.jpg);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

h1 {
  text-align: center;
  font-size: 9rem;
  line-height: 1;
  margin-bottom: 2rem;
  margin-top: 0rem;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.stats {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 5rem;               
  margin-bottom: 2rem;     
}

.score-display, .time-display {
  font-size: 4.5rem;
  margin: 0; 
  color: #333;
}

button {
  display: block;
  margin:  1rem auto 2rem auto;
  padding: 0.5rem 3rem;
  background: #fff;
  color: #333;
  font-family: 'Amatic SC', cursive;
  font-size: 3.5rem;
  font-weight: bold;
  border: 3px solid #333;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 6px 0 #333;
  transition: all 0.1s;
}

button:hover {
  background: #ffe680;
}

button:active {
  box-shadow: 0 0 0 #333;
  transform: translateY(6px);
}

.difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.start-btn {
  margin: 0; 
  background: #ffc600; 
}

.diff-btn {
  margin: 0; 
  padding: 0.5rem 2rem;
  font-size: 2.5rem;
  background: #fff;
}


.diff-btn.active {
  opacity: 1;
  background: #ffaa00;
  transform: translateY(4px);
  box-shadow: 0 2px 0 #333;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
  cursor:pointer;
}

.hole.up .mole {
  top: 0;
}
